doctype html
html
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  head
    title= Spellista
    <!-- Compiled and minified CSS -->
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')

    <!-- Personal CSS -->
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!-- Font -->
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Montserrat:400,700")

    <!-- JQUERY -->
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")

    <!-- Personal JAVASCRIPT -->
    script(src="/javascripts/scripts.js")

    <!-- Compiled and minified JavaScript -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  body
    block content
