extends layout

block content

  main
    div.container(style="text-align: center;")
      div.row
        div.col.s12
          h1(style="font-weight:700; font-size: 124px; letter-spacing:-5px") Spellista
          h3 Discover a playlist based your mood.
          a.waves-effect.waves-light.btn(style="background-color: #1DB954; letter-spacing: 3px; border-radius:20px; margin-top: 15px;") GET STARTED

  footer.page-footer(style="background-color: black;")
    div.footer-copyright(style="background-color: black;")
      div.container(style="background-color: black;") Developed by Tim Kaing
        a.text-lighten-4.right(href="https://developer.spotify.com/documentation/web-api/" style="color: #1DB954; font-weight: 500;") Powered by Spotify
