body {
    font: 14px 'Montserrat', sans-serif !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #00B7FF;
    font-famnily: 'Montserrat', sans-serif !important;
    font-weight: 700;
}

main {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch label input[type=checkbox]:checked+.lever:before, .switch label input[type=checkbox]:checked+.lever:after
{
    background-color: #1DB954;
}

.switch label input[type=checkbox]:checked+.lever
{
    background-color: #64b965;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: 1px solid #1DB954;
    -webkit-box-shadow: 0 1px 0 0 #1DB954;
    box-shadow: 0 1px 0 0 #1DB954;
}

.input-field
{
    color: red;
}
